/*=== MEDIA QUERY ===*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700");

:root {
    /* --clr-main: hsl(35, 71%, 59%);
    --clr-main-hover: hsl(35, 71%, 39%);
    --clr-dark: hsl(218, 46%, 14%);
    --clr-very-dark: hsl(0, 0%, 15%);
    --clr-borders: hsla(0, 0%, 100%, 0.2);
    --clr-light: hsl(0, 0%, 100%);
    --clr-grayish: hsla(0, 0%, 100%, 0.6); */

    /* --clr-main: #edf060;
    --clr-main-hover: #f0803c;
    --clr-dark: #171219;
    --clr-very-dark: #310d20;
    --clr-borders: #225560;
    --clr-light: hsl(0, 0%, 100%);
    --clr-grayish: #225560; */

    --clr-main: #99d19c;
    --clr-main-hover: #73ab84;
    --clr-dark: #000501;
    --clr-very-dark: hsl(0, 0%, 15%);
    --clr-borders: #79c7c5;
    --clr-light: hsl(0, 0%, 100%);
    --clr-grayish: #ade1e5;
}
body {
    line-height: 1.7;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1 {
    font-size: 40px;
    line-height: 50px;
}

h2 {
    font-size: 32px;
    line-height: 38px;
}

h3 {
    font-size: 24px;
    line-height: 34px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
}

h5 {
    font-size: 18px;
    line-height: 26px;
}

h6 {
    font-size: 16px;
}

p {
    color: #8b98af;
}

body,
html {
    overflow-x: hidden;
    width: 100%;
}

.portfolio {
    background: var(--clr-dark);
    color: var(--clr-light);
}

.navbar-toggle .icon-bar {
    background: var(--clr-main);
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"] {
    box-shadow: none;
    height: 45px;
    outline: none;
    font-size: 14px;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus {
    box-shadow: none;
    border: 0px;
    border-bottom: 1px solid var(--clr-main);
}

.form-control {
    box-shadow: none;
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none;
    border-bottom: 1px solid var(--clr-main);
}

.text-black {
    color: var(--clr-very-dark);
}

.btn {
    display: inline-block;
    font-size: 18px;
    padding: 13px 45px;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: all 0.2s ease;
    border: 1px solid transparent;
}

.btn:hover {
    background: var(--clr-main-hover);
    color: var(--clr-light);
}

.btn-main {
    background: var(--clr-main);
    color: var(--clr-very-dark);
    border-color: var(--clr-main);
}

.btn-main:hover {
    background: transparent;
    color: var(--clr-light);
    border-color: var(--clr-borders);
}

.btn-solid-border {
    border-color: var(--clr-borders);
    background: transparent;
    color: var(--clr-light);
}

.btn-solid-border:hover {
    border-color: var(--clr-main);
    background: var(--clr-main);
}

.btn-main-border {
    border-color: var(--clr-main);
    background: transparent;
    color: var(--clr-main);
}

.btn-main-border:hover {
    border-color: var(--clr-main);
    background: var(--clr-main);
}

.btn-round {
    border-radius: 4px;
}

.btn-round-full {
    border-radius: 50px;
}

.btn.active:focus,
.btn:active:focus,
.btn:focus {
    outline: 0;
}

.btn-small {
    padding: 9px 28px;
}

.bg-shadow {
    background-color: var(--clr-light);
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.08);
    padding: 20px;
}

.bg-gray {
    background: var(--clr-dark);
}

.btn-light:hover {
    background: var(--clr-main);
    border-color: var(--clr-main);
}

.section {
    padding: 100px 0;
}

.section-title {
    margin-bottom: 70px;
}

.section-title span {
    letter-spacing: 4px;
}

.section-title .title {
    text-transform: capitalize;
}

.page-title {
    padding: 120px 0 60px;
}

.twitter {
    background: #00aced;
}

.facebook {
    background: #3b5998;
    padding: 7px 18px;
}

.instagram {
    background: #bc2a8d;
}

.overly,
.bg-3 {
    position: relative;
}

.overly:before,
.bg-3:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #152136;
    opacity: 0.9;
}

.text-lg {
    font-size: 85px;
    line-height: 90px;
}

.py-7 {
    padding-top: 9rem !important;
    padding-bottom: 10rem !important;
}

.text-color {
    color: var(--clr-main);
}

.letter-spacing {
    letter-spacing: 1px;
}

.text-sm {
    font-size: 14px;
}

.text-md {
    font-size: 22px;
}

.text-lg-2 {
    font-size: 50px;
    line-height: 56px;
}

.title {
    font-size: 70px;
    line-height: 80px;
    position: relative;
}

.border-top-1 {
    border-top: 1px solid #19273e;
}

.border-bottom-1 {
    border-top: 1px solid #19273e;
}

a:hover,
a:focus {
    outline: 0;
    text-decoration: none;
}

.nav .open > a {
    background: transparent;
}

.navbar-nav .nav-link {
    text-transform: capitalize;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: var(--clr-light);
    padding: 10px 15px !important;
}

.nav-social a {
    width: 40px;
    height: 40px;
    text-align: center;
    color: var(--clr-light);
    display: inline-block;
    padding-top: 8px;
    background: var(--clr-borders);
    border-radius: 100%;
}

.navbar-brand .logo {
    color: var(--clr-light);
}
h2.logo {
    margin: 0;
}
.navigation {
    transition: 0.3s ease;
    border-bottom: 1px solid transparent;
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background: var(--clr-dark) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

.slider-img:before {
    position: absolute;
    content: "";
    right: -20px;
    top: 20px;
    border: 10px solid var(--clr-grayish);
    width: 100%;
    height: 100%;
}

.head-trans {
    font-size: 120px;
    opacity: 0.03;
    position: absolute;
    top: 23%;
    font-weight: 700;
    text-transform: capitalize;
}

.lh-35 {
    line-height: 35px;
}

.bg-1 {
    background-image: url("../images/call-to-action-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-3 {
    background: url("../images/bg/b-3.jpg");
    background-size: cover;
}

.lh-45 {
    line-height: 45px;
}

.skill-bar {
    padding: 80px 10px 0px 10px;
}

.progress {
    height: 5px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    overflow: visible;
    position: relative;
    margin: 0 0 35px 0;
    border-radius: 3px;
}

.progress-bar {
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--clr-main);
    border-radius: 3px;
    transition: all 3s ease-in-out;
}

.progress-bar .percent-text {
    font-size: 62px;
    color: var(--clr-light);
    position: absolute;
    top: -110px;
    left: 0;
}

#service .card {
    transition: all 0.35s ease;
    background: #19273e;
}

#service .card h3 {
    transition: all 0.35s ease;
    opacity: 0.9;
}

#service .card:hover {
    border-bottom-color: var(--clr-main);
    background: transparent;
}

#service .card:hover h3 {
    color: var(--clr-main);
}

.portfolio-item:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0px;
    width: 100%;
    height: 0;
    background: var(--clr-main);
    transition: all 0.35s ease;
    overflow: hidden;
    z-index: 1;
}

.portfolio-item .portoflio-item-overlay {
    text-align: center;
    position: absolute;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    top: 0%;
    opacity: 0;
    left: 50%;
    margin-left: -20px;
    transition: all 0.35s ease;
    z-index: 2;
}

.portfolio-item p {
    color: var(--clr-light);
}

.portfolio-item i {
    font-size: 50px;
    color: var(--clr-dark);
}

.portfolio-item:hover:before {
    opacity: 1;
    height: 100%;
}

.portfolio-item:hover .portoflio-item-overlay {
    opacity: 1;
    top: 40%;
}

.owl-carousel .owl-item .portfolio-item img {
    -webkit-transform-style: none;
}

#portfolio .item .text {
    text-align: center;
}

#portfolio .owl-theme .owl-nav [class*="owl-"] {
    color: var(--clr-dark);
    background: var(--clr-main);
}

#portfolio .owl-theme .owl-nav {
    margin-top: 30px;
}

.portfolio-sidebar .card-title {
    text-transform: uppercase;
}

.portfolio-sidebar ul li {
    padding: 13px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 15px;
}

.portfolio-sidebar ul li span {
    font-size: 13px;
    color: var(--clr-light);
    opacity: 0.9;
    font-weight: 600;
}

.bg-primary {
    background: var(--clr-main) !important;
}

.testimonial-slider .testimonial-content {
    padding-left: 140px;
    padding-top: 20px;
}

.testimonial-slider .testimonial-item i {
    position: absolute;
    left: 0px;
    content: "";
    top: 0px;
    font-size: 110px;
}

.testimonial-slider .testimonial-item p {
    line-height: 45px;
    color: rgba(255, 255, 255, 0.85);
}

.testimonial-slider .testimonial-item .media img {
    border: 5px solid var(--clr-borders);
    width: 90px;
}

.slick-dots li button::before {
    color: var(--clr-light);
}

.slick-dots {
    position: absolute;
    top: 30%;
    display: block;
    width: 0px;
    padding: 0;
    margin: 0;
    list-style: none;
    left: 104%;
}

.contact-form .form-control {
    border: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding-left: 0px;
    font-size: 18px;
}

.contact-form .form-control:hover {
    border-bottom: 1px solid var(--clr-main);
}

.blog-item .blog-item-meta {
    margin-top: -42px;
    position: relative;
    padding: 17px 30px;
    margin-left: 20px;
    margin-right: 20px;
    background: #152136;
    text-transform: capitalize;
}

.blog-item a {
    color: var(--clr-light);
}

.blog-item a:hover {
    color: var(--clr-main);
}

.blog-item a.learn-more {
    color: var(--clr-main);
    letter-spacing: 2px;
}

.tags a {
    color: rgba(255, 255, 255, 0.8);
    padding: 2px 10px;
    display: inline-block;
    border: 1px solid var(--clr-borders);
    margin-bottom: 5px;
    text-transform: capitalize;
    font-size: 14px;
}

.blog-navigation a {
    color: var(--clr-light);
    display: inline-block;
    border: 1px solid var(--clr-borders);
    padding: 6px 25px;
}

.comment-form .form-control,
.subscribe .form-control {
    border: 1px solid var(--clr-borders);
}

.post-share a {
    color: var(--clr-light);
    display: inline-block;
    padding: 6px 25px;
    border-radius: 2px;
}

.footer-socials li a {
    color: var(--clr-light);
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 22px;
    margin-right: 10px;
}

.footer-socials li a:hover {
    color: var(--clr-main);
}

.footer {
    padding: 80px 0px 60px;
}

.footer p {
    color: var(--clr-grayish);
}

.backtop {
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    color: var(--clr-very-dark);
    background: var(--clr-main);
    display: inline-block;
    position: fixed;
    content: "";
    right: 5%;
    bottom: 9%;
    opacity: 0;
}

.backtop:hover {
    color: var(--clr-light);
}

.reveal {
    transition: all 0.3s;
    cursor: pointer;
    opacity: 1;
}
.contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
}
.contact-info li {
    background-color: var(--clr-dark);
    border: 1px solid var(--clr-borders);
}
.contact-info a {
    color: var(--clr-light);
    font-weight: 700;
}
.contact-info li:hover {
    background-color: var(--clr-grayish);
}

/*=== MEDIA QUERY ===*/
@media (max-width: 768px) {
    .navbar-toggler {
        background: var(--clr-light) !important;
    }
    .navigation {
        background: var(--clr-dark) !important;
    }
    .text-lg {
        font-size: 68px;
        line-height: 70px;
    }
    .py-7 {
        padding-top: 6rem !important;
        padding-bottom: 6rem !important;
    }
}

@media (max-width: 480px) {
    .navigation {
        background: var(--clr-dark) !important;
    }
    .navbar-toggler {
        background: var(--clr-light) !important;
    }
    .text-lg {
        font-size: 52px;
        line-height: 52px;
    }
    .title {
        font-size: 39px;
        line-height: 49px;
    }
    .progress-bar .percent-text {
        font-size: 39px;
        top: -70px;
    }
    .skill-bar {
        padding: 32px 10px 0px 10px;
    }
    .testimonial-slider .testimonial-content {
        padding-left: 0px;
    }
    .testimonial-item i {
        position: relative !important;
        font-size: 60px !important;
    }
    .py-7 {
        padding-top: 6rem !important;
        padding-bottom: 6rem !important;
    }
    .post-share a {
        margin-bottom: 5px;
    }
    .slider-img:before {
        right: -6px;
    }
}

@media (max-width: 400px) {
    .navigation {
        background: var(--clr-dark) !important;
    }
    .text-lg {
        font-size: 52px;
        line-height: 52px;
    }
    .title {
        font-size: 39px;
        line-height: 49px;
    }
    .progress-bar .percent-text {
        font-size: 39px;
        top: -70px;
    }
    .skill-bar {
        padding: 32px 10px 0px 10px;
    }
    .testimonial-slider .testimonial-content {
        padding-left: 0px;
    }
    .testimonial-item i {
        position: relative !important;
        font-size: 60px !important;
    }
    .navbar-toggler {
        background: var(--clr-light) !important;
    }
    .py-7 {
        padding-top: 6rem !important;
        padding-bottom: 6rem !important;
    }
    .post-share a {
        margin-bottom: 5px;
    }
    .slider-img:before {
        right: -6px;
    }
}
@media (width < 480px) {
    .navbar-btn-mobile {
        background-color: var(--clr-dark) !important;
    }
    .navbar-btn-mobile span {
        color: var(--clr-light);
    }
}
/*# sourceMappingURL=maps/style.css.map */
